.title {
  margin: 0;
}

.bottom-tab-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: var(--background-color);
}

.bottom-tab-item {
  flex-grow: 1;
  cursor: pointer;
}

.item-active {
  color: #6200ee;
}
